body{
	background-image: url(download.jpg); 
}
ul{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
ul li a{
	text-decoration: none;
	color: white;
	display: block;
}

ul li{
	float:left;
	width:250px;
	height: 50px;
	background-color: black;
	font-size: 30px;
	line-height: 50px;
	text-align: center;
	opacity: .7;
	border:1px solid #285189;
}

ul li a:hover{
	background-color: cyan;
}

ul li ul li{
	display: none;
}

ul li:hover ul li{
	display: block;
}